{% extends 'template.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default bg-light">
                <div class="box-header with-border">
                    <h4 class="box-title">Prepare your download!</h4>
                </div>
                <div class="box-body">
                    <form method="post" action="{{ path('download_data', {'source': source}) }}"
                          onsubmit="return confirm('Are you sure you want to generate CSV report for selected campaigns?');" role="form">
                        <div class="row">
                            <div class="col-sm-4">
                            {{ include('download_filter/agg-type.html.twig') }}
                            </div>
                            <div class="col-sm-5">
                            <!-- call the controller to render the campaign and region dropdow -->
                            {{ render(controller(
                                'App\\Controller\\Ajax\\AjaxDownloadFilterController:downloadFilterAction', { 'source': 'CatchupData'}))
                            }}
                            </div>
                            <div class="col-sm-3">
                                <label>&nbsp;</label>
                                {{ include('download_filter/submit.html.twig') }}
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--- End of the 10 Camp Trends --->
{% endblock %}
{% block title %}Download Coverage Data{% endblock %}