<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ path('covid19_cases')}}" class="navbar-brand"><b>COVID</b>19</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            {{ include('covid19/shared/covid19_menu.html.twig') }}
{#            <form class="navbar-form navbar-left" role="search">#}
{#                <div class="form-group">#}
{#                    <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">#}
{#                </div>#}
{#            </form>#}
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        {{ include('covid19/shared/control_menu.html.twig') }}
        <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
</nav>