<form method="post" action="{{ path('bphs_hf_indicator_delete', {'id': bphs_hf_indicator.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bphs_hf_indicator.id) }}">
    <button class="btn">Delete</button>
</form>
