        <div class="form-group">
            <label>Aggregation By</label>
            <select class="form-control" name="filterAggType" id="filterAggType">
                <option value="national">National</option>
                <option value="region">Region</option>
                <option value="province">Province</option>
                <option value="district">District</option>
                <option value="cluster">Cluster</option>
            </select>
        </div>
