<div class="form-group">
    <label>Districts: </label>
    <div class="dropdown">
            <select multiple="multiple" class="multiselect" name="filterDistrict[]" id="filterDistrict">
                <option value="All">All districts</option>
                <option value="VHR">VHR districts</option>
                <option value="Focus">Focus districts</option>
                <option value="HR">HR districts</option>
                <option value="None">Non-V/HR districts</option>
            </select>
    </div>
</div>