<div class="form-group">
    <label>Province:</label>
    <div class="dropdown">
        <select multiple="multiple" class="multiselect" name="filterProvince[]" id="filterProvince">
        </select>
    </div>
</div>
