<div class="form-group">
    <label>Region:</label>
    <div class="dropdown">
        <select multiple="multiple" class="multiselect" name="filterRegion[]" id="filterRegion">
        </select>
    </div>
</div>