{% extends 'template.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default bg-gray">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <a href="{{ path('import_data', {'entity':'int_odk_sm_monitoring'}) }}"
                                           class="btn btn-lg btn-info pull-right">
                                            SM Monitoring
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{{ path('import_data', {'entity':'int_odk_ccs_monitoring'}) }}"
                                           class="btn btn-lg btn-info pull-left">
                                            CCS Monitoring
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
