<li style="padding-top: 8px; padding-bottom: 8px;">
    <div class="dropdown">
        <div class="col-md-10">
            <select multiple="multiple" class="multiselect" name="filterCampaign" id="filterCampaign">
                {% for campaign in campaigns %}

                    <option value="{{ campaign['yearMonth'] }}"
                            {% for selected in selectedCampaign %}
                                {% if selected == campaign['yearMonth'] %} selected {% endif %}
                            {% endfor %}
                    >{{ campaign['yearMonth'] }}</option>

                {% endfor %}
            </select>
        </div>
    </div>
</li>

<li style="padding: 8px 0px;">
    <div class="dropdown">
        <div class="col-md-10">
            <select multiple="multiple" class="multiselect" name="filterProvince" id="filterProvince">
                {% for province in provinces %}
                    <option value="{{ province['id'] }}">
                        {{ province['provinceName'] }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
</li>

<li style="padding-top: 8px; padding-bottom: 8px;">
    <div class="dropdown">
        <div class="col-md-10">
            <select multiple="multiple" class="multiselect" name="filterDistrict" id="filterDistrict">

            </select>
        </div>
    </div>
</li>

<li style="padding-top: 8px; padding-bottom: 8px;">
    <div class="dropdown">
        {#<label class="col-md-1 control-label" style="color: #ffffff;">Region:</label>#}
        <div class="col-md-10">
            <select multiple="multiple" class="multiselect" name="filterFacility" id="filterFacility">
            </select>
        </div>
    </div>
</li>

<li style="padding:8px 0px;">
    <button type="button" class="btn btn-warning" id="filterButton"><i class="fa fa-filter"></i> Filter</button>
</li>
